PHP Basics with MySql

PHP(recursive acronym for PHP: Hypertext Preprocessor) is a widely­used open

source general­purpose scripting language that is especially suited for web development

and can be embedded into HTML.

MySql

MySQLis a freely available open source Relational Database Management System

(RDBMS) that uses Structured Query Language (SQL). SQL is the most popular language

for adding, accessing and managing content in a database. It is most noted for its quick

processing, proven reliability, ease and flexibility of use.

Topics Will be coverd :

1. PHP Introduction

2. Importance of PHP

3. Basics of PHP

4. Unique Features of PHP

5. PHP with MySql Database

6. PHP forms using Database

7. Introduction of Ajax and JSON

8. Job and Carrier Opportunities in PHP
